.section-title{
    font-size: 2.25rem;
    color: var(--color-blue);
    text-transform: uppercase;   
}
.title-highlight{
    position: relative;
    color: var(--color-black);
}
.title-borderline{
    display: inline-block;
    position: absolute;
    width: 120%;
    left: 0;
    bottom: -6px;
    height: 2px;
    background: var(--color-blue);
}