@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --font-base: 'Open Sans', sans-serif;
  
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-blue: #2dc4ea;
  --font-sm: 1rem;
  --transition-fade: all 200ms ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
}

.app-container{
  max-width: 1920px;
  margin: 0 auto;
}

.inner{
  max-width: 1350px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.content-text{
  font-size: var(--font-sm);
}

.sec-mb{
  margin-bottom: 55px;
}
@media screen and (max-width: 1350px) {
  .inner{
      padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .inner{
    padding: 0 20px;
  }
  .sec-mb{
    margin-bottom: 40px;
  }
}
